<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>Accueil</display-name>
    <servlet-name>Accueil</servlet-name>
    <servlet-class>com.octest.servlets.Accueil</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Accueil</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>MedecinConnecté</display-name>
    <servlet-name>MedecinConnecté</servlet-name>
    <servlet-class>com.octest.servlets.MedecinConnecté</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MedecinConnecté</servlet-name>
    <url-pattern>/medecinconnecté</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjouterPatient</display-name>
    <servlet-name>AjouterPatient</servlet-name>
    <servlet-class>com.octest.servlets.AjouterPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjouterPatient</servlet-name>
    <url-pattern>/medecinconnecté/ajouterpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ModifierPatient</display-name>
    <servlet-name>ModifierPatient</servlet-name>
    <servlet-class>com.octest.servlets.ModifierPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ModifierPatient</servlet-name>
    <url-pattern>/medecinconnecté/modifierpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SupprimerPatient</display-name>
    <servlet-name>SupprimerPatient</servlet-name>
    <servlet-class>com.octest.servlets.SupprimerPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SupprimerPatient</servlet-name>
    <url-pattern>/medecinconnecté/supprimerpatient</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PatientConnecté</display-name>
    <servlet-name>PatientConnecté</servlet-name>
    <servlet-class>com.octest.servlets.PatientConnecté</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PatientConnecté</servlet-name>
    <url-pattern>/patientconnecté</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConnectionMedecin</display-name>
    <servlet-name>ConnectionMedecin</servlet-name>
    <servlet-class>com.octest.servlets.ConnectionMedecin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionMedecin</servlet-name>
    <url-pattern>/medecin</url-pattern>
  </servlet-mapping>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>ConnectionPatient</display-name>
    <servlet-name>ConnectionPatient</servlet-name>
    <servlet-class>com.octest.servlets.ConnectionPatient</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionPatient</servlet-name>
    <url-pattern>/patient</url-pattern>
  </servlet-mapping>
</web-app>